<% layout("./layouts/dashboardbolilerplate.ejs") -%>
<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/home">Home</a></li>
        <!-- <li class="breadcrumb-item"><a href="">Setting</a></li> -->
        <li class="breadcrumb-item active">Need Help</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              For any query / help Contact to the aceit Office.
            </h5>
            <p>
              <i class="bi bi-telephone-fill"></i> <span>Contact : </span>
              <span>7205217906</span>
            </p>
            <p>
              <i class="bi bi-geo-alt-fill"></i> <span>Address : </span>
              <span
                >near Sai Complex, Gandhi Nagar, Brahmapur, Odisha 760001</span
              >
            </p>
            <p>
              <i class="bi bi-headset"></i> <span>Website : </span>
              <a href="http://www.aceit.in" target="_blank"
                ><span style="color: red">www.aceit.in </span></a
              >
            </p>
            <!-- <i class="bi bi-hand-index-thumb-fill"></i> -->
            <!-- click logo -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
