<% layout("./layouts/boilerplate.ejs") -%>
<body>
  <section class="py-5">
    <div class="container">
      <div class="row gx-4 align-items-center justify-content-between">
        <div class="col-md-5 order-2 order-md-1">
          <div class="mt-5 mt-md-0">
            <span class="text-muted"></span>
            <h2 class="display-5 fw-bold">About Us</h2>
            <p class="lead">
              Welcome to HotelHive, your ultimate destination for finding the
              perfect stay. Whether you're traveling for business or leisure, we
              provide top-tier accommodations to suit every need.
            </p>
            <p class="lead">
              At HotelHive, we pride ourselves on offering a seamless and
              hassle-free booking experience. Our platform is designed to
              connect travelers with high-quality hotels at competitive prices.
            </p>
          </div>
        </div>
        <div class="col-md-6 offset-md-1 order-1 order-md-2">
          <!-- Gallery -->
          <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
              />

              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape"
              />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
              />

              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
              />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Waves at Sea"
              />

              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park"
              />
            </div>
          </div>
          <!-- Gallery -->
        </div>
      </div>
    </div>
  </section>
</body>
