<% layout("./layouts/boilerplate.ejs") -%>

<body>
  <!-- Contact 1 - Bootstrap Brain Component -->
  <section class="bg-light py-3 py-md-5 mt-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Contact Us</h2>
          <p class="text-secondary mb-4 text-center">
            Have questions? Reach out to us, and we'll get back to you as soon
            as possible.
          </p>
          <div class="text-center">
            <p>
              <i class="bi bi-envelope-fill"></i>
              <a
                href="mailto:support@hotelhive.com"
                class="text-decoration-none"
                >support@hotelhive.com</a
              >
            </p>
            <p>
              <i class="bi bi-telephone-fill"></i>
              +123-456-7890
            </p>
            <p>
              <i class="bi bi-geo-alt-fill"></i>
              123 HotelHive Street, City, Country
            </p>
          </div>
          <hr class="w-50 mx-auto mb-4 border-dark-subtle" />
        </div>
      </div>
    </div>
  </section>
</body>
